body{
    background-color: #2d3040;
    color: white;
    line-height: 2;
}

.container-triangle{
    display: flex;
    flex-direction: column;
    max-width: 40%;
    margin: 0 auto;
    font-size: 1.4rem;    
}
nav{
    text-align: right;
    font-size: 1.5rem;
}
input{
    width: 25%;
    height: 1.3rem;
}
button{
    margin: 3rem 0;
    width: 6rem;
    font-size: 1.2rem;
    cursor: pointer;
}
a{
    color:#4338CA;
    text-decoration: none;
    margin: 0 1.2rem;
}